<body>
    <h1>ToDoList</h1>

    <form action="#" th:action="@{/submit}" method="post">
        <label for="name">ToDO:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="date">Date:</label><br>
        <input type="date" id="date" name="date"><br>
        <input type="submit" value="submit">
    </form>

    <h2>Names and Dates:</h2>
    <ul th:if="${names.size() > 0}">
        <li th:each="i : ${#numbers.sequence(0, names.size()-1)}">
            <span th:text="${'Todo: ' + names[i] + ', Date: ' + dates[i]}"></span>

            <form th:action="@{'/delete/' + ${i}}" method="post">
                <button type="submit" value="Delete">Delete</button>
            </form>
            <form th:action="@{'/update/' + ${i}}" method="post">
                <label for="newName">New ToDo:</label><br>
                <input type="text" id="newName" name="newName" value="" required><br>
                <label for="newDate">New Date:</label><br>
                <input type="date" id="newDate" name="newDate" value="" required><br>
                <input type="submit" value="Update">
            </form>
        </li>
    </ul>
</body>

</html>